{% extends 'base.html' %}

{% load tml %}
{% load taxonomy_displays %}

{% block extra_js %}
{% endblock %}
        
        
{% block extra_css %}
{% endblock %}
        
{% block body_class %}template-article{% endblock %}

{% block content %}
<nav>
    {% comment %}
    {% for term in nav_bar %}
    <div class="menu-item">
    <a href="/category/{{ term.title }}">{{ term.title }}</a>
    </div>
    {% endfor %}
    {{ nav_bar }}
    {% flat_tree nav_bar %}
    {% endcomment %}
    {% breadcrumb crumb_terms %}
</nav>
<article class="termdetail-stock">
    <header class="termdetail-header">
        {% comment %}
        {% endcomment %}
        <div class="topbar">Topbar</div>
    </header>

    <div class="termdetail-block">
        <h1>{{ category.name }}</h1>
        <p class="text">{{ elements }}</p>
    </div>
</article>    
{% endblock %}
